{{ define "title" }}Jarvis index{{ end }}
{{ define "content" }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-7">
                Add weather here
            </div>
            <div class="col xs-5">
                Add timetables
            </div>
        </div>
    </dvi>
{{ end }}